h1{
    text-align: center;
    color: #1B1E62;
    font-family: Armata;
}

.Donate{
    background-color: #E8E8EF;
    height: 20em;
    margin-bottom:3em;
    display: flex;
    align-items: center;

}


.contact-info{

    width: 40%;
    padding: 2em;
    margin:3em;
    height: 100%;
    display: flex;
    justify-content: center;

    
}

.Address{
    margin: auto 0;
   
}

.paypal{

    width: 40%;
    padding: 2em;
    margin:3em;
    height: 100%;
    
}

.img{
    max-height: 80%;
}

.img img{
    position: relative;
    max-width: 50%;
    max-height:50%;
   
}