

.join-container{
    height: 40em;
    width: 100%;
    margin: 0 auto;
    margin-bottom:4em;
}


.join-title{
    display: inline-block;
    width: 100%;
}
h1{
    text-align: center;
    color:#1B1E62;

}

.join-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.join-info{
    display: inline-block;
    width:40%;
    height:100%;

    
}

.join-form{
    display: inline-block;
    width:30%;
    height:100%;

}