
.officers-pg{
    display: flex;
    flex-flow:column;
    justify-content: center;
}




.officer-table th{
    text-align: left;
    padding:1em;

}

.officer-table td{
    text-align: center;
    padding:1em;

}


.officer-table a{
    font-size: 1em;
    display: flex;
    justify-content: center;

}

.officer-table{
    background-color: #E8E8EF;
    border-radius: 25px 25px 0px 0px;
}

.flag-truck{
    border-radius: 0px 0px 25px 25px;
}