
.container{

  margin: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
  min-width:100%;
  overflow: hidden;
  
}
  
.nav{
  position: relative;
  width:100%;
}


.foot{
  width:100%;
  position: absolute;

}
