

.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;

}

.accordion {
    border-radius: 15px;
    overflow: hidden;
    width:75%;
}


.item{

    background:#E8E8EF;
    padding: 10px 20px;
    cursor: pointer;
    
}


.title{
    color:#1B1E62;
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 12px;

}

.content{
    color: black;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}