.nav{
    display: flex;
    width:100%;
    position:relative;
}

.Nav-logo {
   margin-top: 2%;
   margin-left:0.5%;
   width:8%;
   float:left
}

.links{
    
    display:flex;
    width:100%;
    height:auto;
    float:center;
    position: absolute;
    bottom:0;
    left:15.8%;
   
}

a{
    display: flex;
    margin-right: 2%;
}

.rect1{
    display:flex;
    width: 9.75%;
    height: 15%;
    background-color: #FF7A00;
    position: absolute;
    top: 0;
    margin-top:0.5%;
    margin-bottom:0.5%;
  
   
}

.rect2{
    display:flex;
    width:10%;
    height: 15%;
    float:left;
    background-color: #FF7A00;
    position: absolute;
    top: 33.5%;
    left: 7.8%;
    margin-top:0.5%;
    margin-bottom:0.5%;
    transform:rotate(45deg);
   
}

.rect3{
    display:flex;
    width: 100%;
    height: 15%;
    background-color: #FF7A00;
    position: absolute;
    bottom: 7%;
    left:15.8%;
    margin-top:0.5%;
    margin-bottom:0.5%;
}
